:root {
    --bg: #1c1c1f;
    --fg: #D9D9D9;
    --accent: #1793D1;
    --border: #414868;
}

body {
    background-color: pink;
    color: var(--fg);
    font-family: 'JetBrains Mono';
    margin: 0;
    padding: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.8em;
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}


.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    background-color: var(--bg);
    align-items: center;
}


.logo {
    font-family: 'Terminus', 'Terminus (TTF)', 'Courier New', monospace;
    color: var(--accent); 
    padding: 20px;
    line-height: 1.2;
    font-size: 14px;
    display: inline-block;
}

.name {
    text-align: center;
}